<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_hap._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>The front camera is used to estimate ambient light levels for the HomeKit Light Sensor.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The microphone is used to stream audio to HomeKit controllers.</string>
</dict>
</plist>
