<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_hap._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>The camera is used for HomeKit video streaming, snapshots, ambient light sensing, and flashlight control.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Local network access is used to advertise and communicate as a HomeKit accessory.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The microphone is used to stream audio to HomeKit controllers.</string>
	<key>NSMotionUsageDescription</key>
	<string>Motion data is used for HomeKit motion sensor reporting.</string>
</dict>
</plist>
